<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plaid.splitnotandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.megshan.splitnotandroid.SplitnotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.megshan.splitnotandroid.AddTransactionToSplitwiseActivity"></activity>
        <activity
            android:name="com.megshan.splitnotandroid.TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.megshan.splitnotandroid.ListItemsActivity"
            android:label="@string/title_activity_list_items"
            android:parentActivityName="com.megshan.splitnotandroid.TransactionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.megshan.splitnotandroid.SplitwiseAuthorizeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="futurestudio" />
            </intent-filter>
        </activity>
        <activity android:name="com.plaid.link.LinkActivity" /> <!-- <provider -->
        <!-- android:name="com.plaid.link.PlaidContentProvider" -->
        <!-- android:authorities="com.plaid.link.PlaidContentProvider" -->
        <!-- android:exported="true" /> -->
        <meta-data
            android:name="com.plaid.link.public_key"
            android:value="@string/plaid_public_key" />
    </application>

</manifest>